html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

/* Font normalization */
body { font:14px/1.314 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* Minimal base styles */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
	white-space: pre; white-space: pre-wrap; word-wrap: break-word;
	padding: 15px;
}

textarea { overflow: auto; }

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
	border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* These selection declarations have to be seperate */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG */
.ie7 img { -ms-interpolation-mode: bicubic; }

/* Normalization of colors and font */
body, select, input, textarea {
	color: #333;
	font-family: 'Lucida Grande', Verdana, Geneva, Sans-serif;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/**
 * Primary styles
 *
 * Author: Chase Hutchins
 */
.dialog {
	border: 1px solid #000;
	margin: 10px 0 5px;
	padding: 10px;
	color: #333;
}

.dialog.important {
	background-color: #fbe6f2;
	border-color: #d893a1;
}

#sidebar {
	background: #4b4d4d;
	-moz-border-end: 1px solid #000;
	-webkit-border-end: 1px solid #000;
	border-end: 1px solid #000;
	width: 145px;
	text-align: right;
	font-size: 11px;
	color: #c6c6c6;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

#sidebar nav {
	margin-top: 205px;
}

#sidebar a {
	padding: 3px 10px 3px 5px;
	display: block;
	text-decoration: none;
	color: #c6c6c6;
}

#sidebar a:hover {
	background: #000;
	color: #fff;
}

#sidebar h3 {
	margin: 10px 10px 3px 5px;
	font-size: 12px;
	color: #fff;
	cursor: pointer;
}

#main {
	background: url(../img/shredder.png) no-repeat top right;
	margin-left: 145px;
	padding: 20px;
	min-height: 100px;
}

#main h1 {
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
	padding: 3px 0 7px 3px;
	font-size: 26px;
	color: #555;
}

#main h2 {
	border-bottom: 1px solid #999;
	margin: 28px 0 16px 0;
	padding: 5px 0 6px;
	font-size: 18px;
	color: #000;
}

#main h3 {
	font-size: 16px;
}

#main h4 {
	font-size: 15px;
}

#main h5 {
	font-size: 14px;
}

#main kbd {
	font-family: 'Lucida Grande', Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #a70000;
}

#main p {
	margin: 12px 0 12px;
}

#main ul {
	margin: 12px 0 12px 30px;
}

#main pre {
	border: 1px solid #ccc;
	margin: 12px 0 12px;
	padding: 0;
}

#main pre code {
	background: #fff;
	padding: 15px;
	display: block;
	font-size: 11px;
	color: #444;
}

/* Syntax Highlighting */
/* Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net> */
pre code {
	display: block; padding: 0.5em;
	color: #000;
	background: #fff;
}

pre .subst,
pre .title {
	font-weight: normal;
	color: #000;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .diff .header {
	color: #808080;
	font-style: italic;
}

pre .annotation,
pre .decorator,
pre .preprocessor,
pre .doctype,
pre .pi,
pre .chunk,
pre .shebang,
pre .apache .cbracket {
	color: #808000;
}

pre .tag,
pre .pi {
}

pre .tag .title,
pre .id,
pre .attr_selector,
pre .pseudo,
pre .literal,
pre .keyword,
pre .hexcolor,
pre .css .function,
pre .ini .title,
pre .css .class,
pre .list .title,
pre .tex .command {
	font-weight: bold;
	color: #000080;
}

pre .attribute,
pre .rules .keyword,
pre .number,
pre .date,
pre .regexp,
pre .tex .special {
	font-weight: bold;
	color: #0000ff;
}

pre .number,
pre .regexp {
	font-weight: normal;
}

pre .string,
pre .value,
pre .filter .argument,
pre .css .function .params,
pre .apache .tag {
	color: #008000;
	font-weight: bold;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .char,
pre .tex .formula {
	color: #000;
	background: #d0eded;
	font-style: italic;
}

pre .phpdoc,
pre .yardoctag,
pre .javadoctag {
	text-decoration: underline;
}

pre .variable,
pre .envvar,
pre .apache .sqbracket,
pre .nginx .built_in {
	color: #660e7a;
}

pre .addition {
	background: #baeeba;
}

pre .deletion {
	background: #ffc8bd;
}

pre .diff .change {
	background: #bccff9;
}

/* FOOTER */
#footer {
	text-align: right;
	font-size: 11px;
	color: #888;
	position: fixed;
	bottom: 15px;
	right: 15px;
}

#footer a {
	color: #666;
}

/* Non-semantic helper classes: please define your styles before this section. */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal. */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements. */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */
/* Style adjustments for portrait mode goes here */
@media all and (orientation:portrait) {
}

/* Style adjustments for landscape mode goes here */
@media all and (orientation:landscape) {
}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome) */
@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* Print styles. Inlined to avoid required HTTP connection */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}